g[id="snake first"],
g[id="snake last"] {
    transition: all 250ms ease-in-out;
}


g[id="snake last"] {
    opacity: 0;
}

/*


svg:hover g[id="snake last"] {
    transform: translateX(0);
}

svg:hover g[id="snake first"] {
    transform: translateX(-100%);
}*/

.body {
    /* background-color: #252525; */
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: url('assets/Anomaly\,\ Tobias\ Roetsch.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#board {
    height: 92vmin;
    width: 90vmin;
    background: black;
    border: 2px solid white;
    /* position: absolute; */
}

/*           
                    Designing the menu              
 */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 300px;
    background-color: rgba(141, 141, 141, 0.089);
    backdrop-filter: blur(5px) saturate(180%);
    border-radius: 16px;
    border: 0;
}

.btn {
    width: 150px;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: larger;
    color: white;
    border: 0;
    /* border: 1px solid white; */
    border-radius: 5px;
    background: black;
    transition: transform 1s ease, width 1s, border-radius 10ms linear;

}

.btn:hover {
    width: 130px;
    border-radius: 20px;
}

.quit {
    background: rgb(231, 75, 75);
}

.pause:hover {
    color: rgb(235, 98, 98);
}

.strt:hover {
    color: rgb(71, 241, 108);
}

.menu h1 {
    color: white;
    text-decoration: underline;
}


/*                  
            Desinging the walls    
*/
.top-wall {
    display: grid;
    height: 25px;
    grid-template-columns: repeat(25, 1fr);
    gap: 2px;
}

.wall {
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    background: red;
    border: 2px solid rgb(51, 252, 1);
    border-radius: 4px;
}