g[id="snake first"],
g[id="snake last"] {
    transition: all 250ms ease-in-out;
}


g[id="snake last"] {
    opacity: 0;
}

#snake {
    position: absolute;
    top: 20%;
    left: 30%;
}

.apple {
    position: absolute;
    top: 40%;
    left: 32%;
}


.body {
    /* background-color: #252525; */
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: url('assets/Anomaly\,\ Tobias\ Roetsch.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#board {
    min-height: 651px;
    min-width: 650px;
    background: black;
    border: 2px solid white;
    position: relative;
}

/*           
                    Designing the menu              
 */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 300px;
    background-color: rgba(141, 141, 141, 0.089);
    backdrop-filter: blur(5px) saturate(180%);
    border-radius: 16px;
    border: 0;
}

.btn {
    width: 150px;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: larger;
    color: white;
    border: 0;
    /* border: 1px solid white; */
    border-radius: 5px;
    background: black;
    transition: transform 1s ease, width 1s, border-radius 10ms linear;

}

.btn:hover {
    width: 130px;
    border-radius: 20px;
}

.quit {
    background: rgb(231, 75, 75);
}

.pause:hover {
    color: rgb(235, 98, 98);
}

.strt:hover {
    color: rgb(71, 241, 108);
}

.menu h1 {
    color: white;
    text-decoration: underline;
}

/*                  
            Desinging the walls    
*/

.top-wall {
    height: max-content;
}

.left-wall {
    position: absolute;
    width: max-content;
    top: 2.5%;

}

.right-wall {
    width: max-content;
    position: absolute;
    top: 2.5%;
    right: 0%;
}

.bottom-wall {
    position: absolute;
    bottom: 0%;
    height: 30px;
}

.bottom-mid-wall {
    position: absolute;
    bottom: 3.1%;
    left: 33.3%;
}

.bottom-right-wall {
    position: absolute;
    bottom: 20%;
    right: 25%;
}

.right-mid-wall {
    position: absolute;
    right: 4.8%;
    top: 38.8%;
}

.left-mid-wall {
    position: absolute;
    left: 4.8%;
    top: 43.6%;
}

.middle-2-wall {
    position: absolute;
    top: 43.5%;
    left: 44%;
}

.top-right-2-wall {
    position: absolute;
    top: 4.5%;
    right: 18.8%;
}

.top-mid-wall {
    position: absolute;
    top: -4%;
    right: 37.4%;
}